@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
   
</div>

<div class="row">
    <h1>Use post-man or any equivalent to query the API</h1>
   <h1>http://localhost:59698/graph</h1>
</div>
